@using Resturant
@*<footer class="main-footer">
        <strong>Copyright &copy; @DateTime.Now.Year <a href="javascript:void(0);">Resturant</a>.</strong> All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>@L("Version")</b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
        </div>
    </footer>*@
<footer class="main-footer">

    <!-- Start Table footer -->
    <div class="table-footer">
        <div class="social-media text-center">
            <ul class="list-unstyled d-flex justify-content-center">
                <li><a href="#" class=""><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></a></li>
                <li><a href="#" class=""><i class="fa fa-whatsapp fa-fw" aria-hidden="true"></i></a></li>
                <li><a href="#" class=""><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></a></li>
            </ul>
            <p class="text-muted mb-2">C 2022 Resturant</p>
        </div><!--.social-media-->
    </div><!--.table-footer-->
    @*<strong>Copyright &copy; @DateTime.Now.Year <a href="javascript:void(0);">Charismatic</a>.</strong> All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>@L("Version")</b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
        </div>*@
</footer>
