
@using Abp.Configuration.Startup
@using Abp.Web.Mvc.Alerts
@using Abp.Web.Security.AntiForgery
@using Resturant.Web.Resources
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject IAlertManager AlertManager
@inject ILanguageManager LanguageManager
@{
    AbpAntiForgeryManager.SetCookie(Context);

    var pageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title + " / " : "";
    pageTitle += "Resturant";
}
<!DOCTYPE html>
<html lang="@LanguageManager.CurrentLanguage.Name">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@pageTitle</title>

    @await Html.PartialAsync("_Styles.cshtml")
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>

    <header class="pt-3">
        <div class="container-fluid">
            @await Html.PartialAsync("_Header.cshtml")
            <div class="header-bottom">
                <nav class="navbar navbar-expand-lg navbar-light pl-0 pl-sm-3">
                     @*<a class="navbar-brand" href="#">Navbar</a>*@ 
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            @await Html.PartialAsync("_SideBar.cshtml")
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    @*<div class="body-page">*@
        @*<div class="container">*@
            @RenderBody()
        @*</div>*@
    @*</div>*@
    @await Html.PartialAsync("_Footer.cshtml")
    <!-- After render body -->

    @await Html.PartialAsync("_Scripts.cshtml")

    @RenderSection("scripts", required: false)

    <!-- WebResourceManager scripts start -->
    @WebResourceManager.RenderScripts()
    <!-- WebResourceManager scripts end -->






</body>
</html>




